.container .section1 {
    position: relative;
    left: 15%;
    top: 8%;
    /* border:2px solid white; */
    height: auto;
    padding-bottom: 90px;
    margin-bottom: 50px;
    width: 70%;
}


.container .section2 {
    /* border: 2px solid white; */
    margin-bottom: 150px;
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

.section2 a {
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
}

.i1 {
    /* margin-left:5px; */
    margin-bottom: 10px;
}

/* .container .section1 .boxA input {

    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    font-size: 19px;
    

} */

.section1 .form-group {
    margin-left: 30%;
}

#naa {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 2px solid whitesmoke;
}

.btn {
    position: relative;
    left: 20%;
    margin-top: 20px;
}

/* .col-lg{
    background-color: green;
} */

.talk {
    position: relative;
    /* border:1px solid pink; */
    /* border:2px solid red; */
    width: 100%;
    /* margin-left: 180px; */
    /* margin-right:10%; */
    /* font-family:"Roboto", sans-serif; */
    color: #ffffff;
}
.resume-body .talk h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 24px;
    /* border:2px solid blue; */
    /* font-weight: 700;  */
    /* font-family: "Playfair Display", serif; */
    /* left: 70%; */

}

.talk h2 span h1 {
    position: relative;
    border-right: 2px solid #00A3E1;
    border-left: 2px solid #00A3E1;
    border-bottom: 2px solid #00A3E1;
    height: 10px;
    width: 135px;
    left: 44.5%;


}
.col-7{
    position: relative;
    text-align:center;
    /* border:1px solid green; */
    margin-top: 20px;
    width:33%;
}
.col-6{
    text-align:center;
    /* border:1px solid green; */
    margin-top: 30px;
    width:33%;
}

.container .section2 {
    /* border:2px solid red; */
}


@media(max-width:820px)
{
    .resume-body .talk h2 {

        /* border:2px solid blue; */
          left: 30%;
          width: 60%;
      }
      .talk h2 span h1 {
        left: 32.8%;
    
    
    }
    .btn {
     
        left: 35%;
         }
         
         .container .section2 {
        margin-left: 25%; 
        font-size: 11px;
        }

}

/* TABLET */
@media(max-width:768px) {

    #Contact {
    margin-left: 11px;
    }

  
    .section1 .form-group {
        /* border:1px solid red; */
        margin-left: 7%;
        
    }
    .container .section1 {
        width:55%;
        left:35%;
        top:4%;
        margin-bottom: 10px;
    /* border: 2px solid green;s */
    }

     /* .talk{
         text-align: center;
        margin-left: 1px;
        width:100%;
        border:2px solid red;
    }*/
    .resume-body .talk h2 {

      /* border:2px solid blue; */
        left: 30%;
        width: 70%;
    }

    .talk h2 span h1 {
        left: 40%;
    } 

    .container .section2 {
        flex-direction: column;
        align-items: left;
        justify-content: left;
        justify-items: left;
        text-align: left;
        margin-left: 33%;
        width:60%;
        font-size:16px;
        /* border:1px solid red;    */
    }
    .col-7{
        text-align:center;
        /* border:1px solid green; */
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .col-6{
        text-align:center;
        /* border:1px solid green; */
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .i1{
        margin-top:10px;
        margin-bottom:15px;
        /* margin-left:; */
        align-items:center;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }
    .btn {
     
        left: 35%;
         }
    *{
        /* border: 2px solid red; */
    }
}

/* MINI TABLET */
@media(max-width:576px) {

    /* .i1{
        margin-left:30%;
     } */
     .container .section2 {
    /* border:2px solid red;  */
    margin-left: 33%;
    }
    .talk h2 span h1 {
        left: 37%;
    } 

}

/* LATEST MOBILES WITH LONG SCREEN  */

@media(max-width:415px) {
    #Contact {
        margin-left: 11.5px;
        }

    .container .section2 {
        /* border:2px solid red;  */
        margin-left: 38%;
        }
        .container .section1 {
            /* width:55%; */
            left:40%;
        /* border: 2px solid green;s */
        }
        .btn{
            left:30%;   
        }
        .resume-body .talk h2 {

            /* border:2px solid blue; */
              left: 42%;
              width: 60%;
          }
          .talk h2 span h1 {
            left: 31.5%;
        
        
        }
        .col-7{
            width:100%;
           }    
        *{
            /* border: 2px solid red; */
        }
}

/* SOME OLD MOBILES */
@media(max-width:365px) {

    *{
        /* border: 1px solid red; */
    }
    #Contact {
        margin-left: 2.07%;
        }
    .resume-body .talk h2 {

        /* border:2px solid blue; */
          left: 43%;
          width: 60%;
      }
      .talk h2 span h1 {
        left: 29.8%;
    
    
    }
    .col-7{
     width:100%;
    }
}